In [1]:
import pandas as pd
import numpy as np
import typing as tp

from datetime import datetime, timedelta
from dateutil.parser import parse
from scipy.stats import levy_stable

In [2]:
# Import csv data for last <= 120 days of priceCumulative values from csv/data-1626472963.csv
DATA_FILENAME = "data-1626472963"
df_raw = pd.read_csv(f"csv/{DATA_FILENAME}.csv")
df_raw

,result,table,_start,_stop,_time,_value,_field,_measurement,id,influx-sushi,type,token0_name,token1_name
0,_result,0,2021-03-18 22:02:38.914870+00:00,2021-07-16 22:02:38.914870+00:00,2021-04-18 18:52:55+00:00,2.899194e+52,price0Cumulative,mem,Sushiswap: WETH / WBTC,ingest-data-frame,metrics-hourly,NaN,NaN
1,_result,0,2021-03-18 22:02:38.914870+00:00,2021-07-16 22:02:38.914870+00:00,2021-04-18 18:56:00+00:00,2.899218e+52,price0Cumulative,mem,Sushiswap: WETH / WBTC,ingest-data-frame,metrics-hourly,NaN,NaN
2,_result,0,2021-03-18 22:02:38.914870+00:00,2021-07-16 22:02:38.914870+00:00,2021-04-18 19:46:47+00:00,2.899617e+52,price0Cumulative,mem,Sushiswap: WETH / WBTC,ingest-data-frame,metrics-hourly,NaN,NaN
3,_result,0,2021-03-18 22:02:38.914870+00:00,2021-07-16 22:02:38.914870+00:00,2021-04-18 20:30:01+00:00,2.899956e+52,price0Cumulative,mem,Sushiswap: WETH / WBTC,ingest-data-frame,metrics-hourly,NaN,NaN
4,_result,0,2021-03-18 22:02:38.914870+00:00,2021-07-16 22:02:38.914870+00:00,2021-04-18 20:46:59+00:00,2.900089e+52,price0Cumulative,mem,Sushiswap: WETH / WBTC,ingest-data-frame,metrics-hourly,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
241229,_result,57,2021-03-18 22:02:38.914870+00:00,2021-07-16 22:02:38.914870+00:00,2021-07-16 21:07:28+00:00,1.619394e+50,price0Cumulative,mem,Sushiswap: WETH / USDC,ingest-data-frame,metrics-hourly,WETH,USDC
241230,_result,57,2021-03-18 22:02:38.914870+00:00,2021-07-16 22:02:38.914870+00:00,2021-07-16 21:24:01+00:00,1.619422e+50,price0Cumulative,mem,Sushiswap: WETH / USDC,ingest-data-frame,metrics-hourly,WETH,USDC
241231,_result,57,2021-03-18 22:02:38.914870+00:00,2021-07-16 22:02:38.914870+00:00,2021-07-16 21:35:31+00:00,1.619440e+50,price0Cumulative,mem,Sushiswap: WETH / USDC,ingest-data-frame,metrics-hourly,WETH,USDC
241232,_result,57,2021-03-18 22:02:38.914870+00:00,2021-07-16 22:02:38.914870+00:00,2021-07-16 21:46:19+00:00,1.619458e+50,price0Cumulative,mem,Sushiswap: WETH / USDC,ingest-data-frame,metrics-hourly,WETH,USDC
241233,_result,57,2021-03-18 22:02:38.914870+00:00,2021-07-16 22:02:38.914870+00:00,2021-07-16 22:01:02+00:00,1.619482e+50,price0Cumulative,mem,Sushiswap: WETH / USDC,ingest-data-frame,metrics-hourly,WETH,USDC

In [3]:
# Filter for cols we care about: [id, _time, _field, _value] and sort by time
df = df_raw.filter(items=['id', '_time', '_field', '_value'])
df = df.sort_values(by='_time', ignore_index=True)
df

,id,_time,_field,_value
0,Sushiswap: COMP / WETH,2021-04-18 17:47:35+00:00,price1Cumulative,4.148446e+41
1,Sushiswap: COMP / WETH,2021-04-18 17:47:35+00:00,price0Cumulative,2.528080e+40
2,Sushiswap: UNI / WETH,2021-04-18 18:31:43+00:00,price0Cumulative,9.936822e+38
3,Sushiswap: UNI / WETH,2021-04-18 18:31:43+00:00,price1Cumulative,1.109690e+43
4,Sushiswap: ALPHA / WETH,2021-04-18 18:42:40+00:00,price1Cumulative,8.288763e+43
...,...,...,...,...
241229,Sushiswap: CRV / WETH,2021-07-16 22:00:50+00:00,price0Cumulative,1.245158e+44
241230,Sushiswap: WETH / DAI,2021-07-16 22:01:02+00:00,price0Cumulative,1.630421e+38
241231,Sushiswap: WETH / DAI,2021-07-16 22:01:02+00:00,price1Cumulative,2.061793e+44
241232,Sushiswap: WETH / USDC,2021-07-16 22:01:02+00:00,price1Cumulative,2.065081e+32
241233,Sushiswap: WETH / USDC,2021-07-16 22:01:02+00:00,price0Cumulative,1.619482e+50

In [4]:
# Examine stats for pairs: WETH / DAI (less volatile) ...
df_weth_dai = df[(df['id'] == "Sushiswap: WETH / DAI") & (df['_field'] == "price1Cumulative")]
df_weth_dai

,id,_time,_field,_value
81364,Sushiswap: WETH / DAI,2021-05-19 20:47:17+00:00,price1Cumulative,1.459467e+44
81399,Sushiswap: WETH / DAI,2021-05-19 21:07:02+00:00,price1Cumulative,1.459625e+44
81419,Sushiswap: WETH / DAI,2021-05-19 21:17:59+00:00,price1Cumulative,1.459719e+44
81448,Sushiswap: WETH / DAI,2021-05-19 21:28:19+00:00,price1Cumulative,1.459791e+44
81488,Sushiswap: WETH / DAI,2021-05-19 21:40:59+00:00,price1Cumulative,1.459890e+44
...,...,...,...,...
241140,Sushiswap: WETH / DAI,2021-07-16 21:12:04+00:00,price1Cumulative,2.061504e+44
241157,Sushiswap: WETH / DAI,2021-07-16 21:23:53+00:00,price1Cumulative,2.061574e+44
241178,Sushiswap: WETH / DAI,2021-07-16 21:33:53+00:00,price1Cumulative,2.061633e+44
241204,Sushiswap: WETH / DAI,2021-07-16 21:45:39+00:00,price1Cumulative,2.061702e+44
241231,Sushiswap: WETH / DAI,2021-07-16 22:01:02+00:00,price1Cumulative,2.061793e+44

In [5]:
# ... and WETH / USDC (less volatile, but we have more data than above) ...
df_weth_usdc = df[(df['id'] == "Sushiswap: WETH / USDC") & (df['_field'] == "price1Cumulative")]
df_weth_usdc

,id,_time,_field,_value
21,Sushiswap: WETH / USDC,2021-04-18 18:52:52+00:00,price1Cumulative,1.029267e+32
40,Sushiswap: WETH / USDC,2021-04-18 18:56:00+00:00,price1Cumulative,1.029289e+32
58,Sushiswap: WETH / USDC,2021-04-18 19:55:50+00:00,price1Cumulative,1.029708e+32
90,Sushiswap: WETH / USDC,2021-04-18 20:30:01+00:00,price1Cumulative,1.029945e+32
111,Sushiswap: WETH / USDC,2021-04-18 20:40:49+00:00,price1Cumulative,1.030020e+32
...,...,...,...,...
241133,Sushiswap: WETH / USDC,2021-07-16 21:07:28+00:00,price1Cumulative,2.064765e+32
241158,Sushiswap: WETH / USDC,2021-07-16 21:24:01+00:00,price1Cumulative,2.064862e+32
241182,Sushiswap: WETH / USDC,2021-07-16 21:35:31+00:00,price1Cumulative,2.064930e+32
241212,Sushiswap: WETH / USDC,2021-07-16 21:46:19+00:00,price1Cumulative,2.064994e+32
241232,Sushiswap: WETH / USDC,2021-07-16 22:01:02+00:00,price1Cumulative,2.065081e+32

In [6]:
# ... and ALCX / WETH (more volatile)
df_alcx_weth = df[(df['id'] == "Sushiswap: ALCX / WETH") & (df['_field'] == "price1Cumulative")]
df_alcx_weth

,id,_time,_field,_value
8,Sushiswap: ALCX / WETH,2021-04-18 18:50:49+00:00,price1Cumulative,1.831283e+40
33,Sushiswap: ALCX / WETH,2021-04-18 18:55:04+00:00,price1Cumulative,1.831382e+40
56,Sushiswap: ALCX / WETH,2021-04-18 19:55:02+00:00,price1Cumulative,1.832779e+40
87,Sushiswap: ALCX / WETH,2021-04-18 20:28:40+00:00,price1Cumulative,1.833563e+40
102,Sushiswap: ALCX / WETH,2021-04-18 20:38:26+00:00,price1Cumulative,1.833792e+40
...,...,...,...,...
241108,Sushiswap: ALCX / WETH,2021-07-16 20:54:15+00:00,price1Cumulative,3.101423e+40
241150,Sushiswap: ALCX / WETH,2021-07-16 21:21:17+00:00,price1Cumulative,3.101542e+40
241173,Sushiswap: ALCX / WETH,2021-07-16 21:32:52+00:00,price1Cumulative,3.101593e+40
241193,Sushiswap: ALCX / WETH,2021-07-16 21:42:58+00:00,price1Cumulative,3.101637e+40
241220,Sushiswap: ALCX / WETH,2021-07-16 21:53:51+00:00,price1Cumulative,3.101685e+40

In [7]:
# ... and UNI / WETH (mid volatile)
df_uni_weth = df[(df['id'] == "Sushiswap: UNI / WETH") & (df['_field'] == "price0Cumulative")]
df_uni_weth

,id,_time,_field,_value
2,Sushiswap: UNI / WETH,2021-04-18 18:31:43+00:00,price0Cumulative,9.936822e+38
35,Sushiswap: UNI / WETH,2021-04-18 18:55:04+00:00,price0Cumulative,9.937873e+38
67,Sushiswap: UNI / WETH,2021-04-18 19:58:10+00:00,price0Cumulative,9.940690e+38
72,Sushiswap: UNI / WETH,2021-04-18 20:13:22+00:00,price0Cumulative,9.941360e+38
131,Sushiswap: UNI / WETH,2021-04-18 20:51:09+00:00,price0Cumulative,9.943018e+38
...,...,...,...,...
240993,Sushiswap: UNI / WETH,2021-07-16 19:51:04+00:00,price0Cumulative,1.408277e+39
241029,Sushiswap: UNI / WETH,2021-07-16 20:12:20+00:00,price0Cumulative,1.408335e+39
241171,Sushiswap: UNI / WETH,2021-07-16 21:32:39+00:00,price0Cumulative,1.408555e+39
241188,Sushiswap: UNI / WETH,2021-07-16 21:37:51+00:00,price0Cumulative,1.408569e+39
241226,Sushiswap: UNI / WETH,2021-07-16 22:00:39+00:00,price0Cumulative,1.408631e+39

In [8]:
# TODO:
#  1. Compute the TWAP from PC value in df [x]
#  2. Fit Levy stable with scipy built in MLE code [x]
#  3. Report Levy stable params fit (a, b, mu, sig) [x]
#  4. Calc [e**(mu*t + sig * (t/a)**(1/a) * F^{-1}(1-alpha)) - 1] (VaR * d**m normalized for imbalance) for diff t vals
#  5. See how large/small C_p = 4. can be for various t, alpha combos

In [8]:
# Define some functions to calc twap
PC_RESOLUTION = 112

def compute_amount_out(twap_112: np.ndarray, amount_in: int) -> np.ndarray:
    rshift = np.vectorize(lambda x: int(x * amount_in) >> PC_RESOLUTION)
    return rshift(twap_112)

def get_twap(pc: pd.DataFrame, window: int, amount_in: int) -> pd.DataFrame:
    dp = pc.filter(items=['_value'])\
        .rolling(window=window)\
        .apply(lambda w: w[-1] - w[0], raw=True)
    
    # for time, need to map to timestamp first then apply delta
    dt = pc.filter(items=['_time'])\
        .applymap(parse)\
        .applymap(datetime.timestamp)\
        .rolling(window=window)\
        .apply(lambda w: w[-1] - w[0], raw=True)

    # with NaNs filtered out
    twap_112 = (dp['_value'] / dt['_time']).to_numpy()
    twap_112 = twap_112[np.logical_not(np.isnan(twap_112))]
    twaps = compute_amount_out(twap_112, amount_in)
    
    # window close timestamps
    t = pc.filter(items=['_time'])\
        .applymap(parse)\
        .applymap(datetime.timestamp)\
        .rolling(window=window)\
        .apply(lambda w: w[-1], raw=True)
    ts = t['_time'].to_numpy()
    ts = ts[np.logical_not(np.isnan(ts))]
    
    df = pd.DataFrame(data=[ts, twaps]).T
    df.columns = ['timestamp', 'twap']
    
    # filter out any twaps that are less than or equal to 0
    df = df[df['twap'] > 0]
    return df

In [9]:
# 1. Compute the TWAP from PC value in df
WINDOW = 6
UNIT_WETH = 1e18

df_weth_dai_twap = get_twap(pc=df_weth_dai, window=WINDOW, amount_in=UNIT_WETH)
df_weth_usdc_twap = get_twap(pc=df_weth_usdc, window=WINDOW, amount_in=UNIT_WETH)
df_alcx_weth_twap = get_twap(pc=df_alcx_weth, window=WINDOW, amount_in=UNIT_WETH)
df_uni_weth_twap = get_twap(pc=df_uni_weth, window=WINDOW, amount_in=UNIT_WETH)

In [10]:
df_weth_dai_twap

        timestamp                    twap
0     1.62146e+09  2530192649420577177600
1     1.62146e+09  2526661690450846416896
2     1.62146e+09  2504822078413549862912
3     1.62146e+09  2580894455288732057600
4     1.62146e+09  2610532884887874043904
...           ...                     ...
7298  1.62647e+09  1906330357480768143360
7299  1.62647e+09  1904218942956549963776
7300  1.62647e+09  1902239014663740719104
7301  1.62647e+09  1899809813543781400576
7302  1.62647e+09  1897946825916506701824

[7303 rows x 2 columns]

In [11]:
df_weth_dai_twap['twap'] / UNIT_WETH

0       2530.19
1       2526.66
2       2504.82
3       2580.89
4       2610.53
         ...
7298    1906.33
7299    1904.22
7300    1902.24
7301    1899.81
7302    1897.95
Name: twap, Length: 7303, dtype: object

In [12]:
df_weth_usdc_twap

          timestamp          twap
0      1.618779e+09  2.239566e+09
1      1.618780e+09  2.240544e+09
2      1.618780e+09  2.238170e+09
3      1.618781e+09  2.250825e+09
4      1.618782e+09  2.256557e+09
...             ...           ...
11267  1.626470e+09  1.909707e+09
11268  1.626471e+09  1.905958e+09
11269  1.626471e+09  1.902865e+09
11270  1.626472e+09  1.900337e+09
11271  1.626473e+09  1.898384e+09

[11270 rows x 2 columns]

In [13]:
# Export twaps to csv to analyze in mathematica as well
df_weth_dai_twap.to_csv(f"csv/{DATA_FILENAME}_weth-dai-twap.csv")
df_weth_usdc_twap.to_csv(f"csv/{DATA_FILENAME}_weth-usdc-twap.csv")
df_alcx_weth_twap.to_csv(f"csv/{DATA_FILENAME}_alcx-weth-twap.csv")
df_uni_weth_twap.to_csv(f"csv/{DATA_FILENAME}_uni-weth-twap.csv")

In [12]:
# Define some functions to fit TWAP to log stable
def get_rs(twap: pd.DataFrame) -> np.ndarray:
    sample = twap['twap'].to_numpy()
    return [
        np.log(sample[i]/sample[i-1])
        for i in range(1, len(sample), 1)
    ]

def fit_to_log_stable(twap: pd.DataFrame) -> tp.Tuple[float]:
    rs = get_rs(twap)
    return levy_stable.fit(rs)

def get_params(twap: pd.DataFrame, period: int) -> pd.DataFrame:
    a, b, loc, scale = fit_to_log_stable(twap)

    # transform to mu, sig
    mu = loc / period
    sig = scale / (period/a)**(1/a)
    
    df = pd.DataFrame(data=[a, b, mu, sig]).T
    df.columns = ['a', 'b', 'mu', 'sig']
    return df

In [13]:
# 2. Fit Levy stable with scipy built in MLE code
PERIOD = 600 # 10 min

# NOTE: this is taking too long ... what's a way around this while still using scipy?
# Could wrap C++ code from Nolan instead ...
# TODO: export df_twap to csv and use mathematica to check fitting is ok (is scipy issue)
# df_weth_dai_params = get_params(twap=df_weth_dai_twap, period=PERIOD)
# df_alcx_weth_params = get_params(twap=df_alcx_weth_twap, period=PERIOD)
# df_uni_weth_params = get_params(twap=df_uni_weth_twap, period=PERIOD)

In [14]:
# 3. Report Levy stable params fit (a, b, mu, sig)
# df_weth_dai_params

NameError: name 'df_weth_dai_params' is not defined

In [4]:
#stables = np.array([
#    (a, b, mu, c)
#    for a in np.arange(0.75, 2.01, 0.25)
#    for b in np.arange(-0.5, 1.0, 0.5)
#    for mu in np.arange(-0.1, 0.1, 0.01)
#    for c in np.arange(0.25, 1.01, 0.25)
#])
stables = np.array([1.3278285879842862,0.0816835526225623,-0.0000252748167384907,0.0006409442772706084])
#stables_df = pd.DataFrame(stables)
#stables_df.columns = ['alpha', 'beta', 'loc', 'scale']
#stables_df
stables

array([ 1.32782859e+00,  8.16835526e-02, -2.52748167e-05,  6.40944277e-04])

In [34]:
qs = np.arange(0.1, 1.0, 0.01)
qs
quantiles = [levy_stable.ppf(q, alpha=stables[0], beta=stables[1], loc=stables[2], scale=stables[3]) for q in qs]
quantiles
q_df = pd.DataFrame(data=[qs, quantiles]).T
q_df.columns = ['q', 'value']
q_df
q_df.to_csv('cdfs.csv')

In [23]:
cvs = np.arange(-0.01, 0.01, 0.0001)
cdfs = [levy_stable.cdf(cv, alpha=stables[0], beta=stables[1], loc=stables[2], scale=stables[3]) for cv in cvs]
cdf_df = pd.DataFrame(data=[cvs, cdfs]).T
cdf_df.columns = ['x', 'value']
cdf_df
cdf_df.to_csv('cdfs.csv')

In [27]:
pvs = np.arange(-0.01, 0.01, 0.0001)
pdfs = [levy_stable.pdf(pv, alpha=stables[0], beta=stables[1], loc=stables[2], scale=stables[3]) for pv in pvs]
pdf_df = pd.DataFrame(data=[pvs, pdfs]).T
pdf_df.columns = ['x', 'value']
pdf_df
pdf_df.to_csv('pdfs.csv')

In [31]:
pdf_df.to_numpy().tolist()

[[-0.01, 0.8342282418569105],
 [-0.0099, 0.8546360956283016],
 [-0.009800000000000001, 0.8757669443572541],
 [-0.009700000000000002, 0.897654515108729],
 [-0.009600000000000003, 0.9203344952362921],
 [-0.009500000000000003, 0.9438446694234918],
 [-0.009400000000000004, 0.9682250677971895],
 [-0.009300000000000004, 0.993518126326782],
 [-0.009200000000000005, 1.019768860648664],
 [-0.009100000000000006, 1.0470250546284132],
 [-0.009000000000000006, 1.0753374649684941],
 [-0.008900000000000007, 1.1047600437659002],
 [-0.008800000000000007, 1.135350180367068],
 [-0.008700000000000008, 1.1671689648052055],
 [-0.008600000000000009, 1.2002814748850732],
 [-0.00850000000000001, 1.234757089383081],
 [-0.00840000000000001, 1.2706698300957142],
 [-0.00830000000000001, 1.3080987357935758],
 [-0.008200000000000011, 1.3471282715055983],
 [-0.008100000000000012, 1.3878487769747183],
 [-0.008000000000000012, 1.430356958599867],
 [-0.007900000000000013, 1.474756429718102],
 [-0.0078000000000000135, 1.5211583046950683],
 [-0.007700000000000014, 1.5696818529935757],
 [-0.007600000000000015, 1.6204552201924634],
 [-0.007500000000000015, 1.673616223847313],
 [-0.007400000000000016, 1.7293132331398704],
 [-0.0073000000000000165, 1.7877061424764285],
 [-0.007200000000000017, 1.8489674505933982],
 [-0.007100000000000018, 1.9132834583418128],
 [-0.007000000000000018, 1.9808556001886024],
 [-0.006900000000000019, 2.0519019266349314],
 [-0.00680000000000002, 2.1266587572630122],
 [-0.00670000000000002, 2.2053825270449394],
 [-0.006600000000000021, 2.2883518519549604],
 [-0.006500000000000021, 2.3758698439096904],
 [-0.006400000000000022, 2.468266709727036],
 [-0.006300000000000023, 2.565902674273848],
 [-0.006200000000000023, 2.6691712744218026],
 [-0.006100000000000024, 2.7785030780414504],
 [-0.006000000000000024, 2.8943698912673],
 [-0.005900000000000025, 3.0172895280365895],
 [-0.005800000000000026, 3.1478312279584078],
 [-0.005700000000000026, 3.286621825663339],
 [-0.005600000000000027, 3.43435278962128],
 [-0.0055000000000000274, 3.591788273432998],
 [-0.005400000000000028, 3.7597743467359117],
 [-0.005300000000000029, 3.939249605058647],
 [-0.005200000000000029, 4.1312573960173555],
 [-0.00510000000000003, 4.336959945573024],
 [-0.0050000000000000305, 4.557654724499779],
 [-0.004900000000000031, 4.794793464181554],
 [-0.004800000000000032, 5.050004315429514],
 [-0.004700000000000032, 5.32511774808352],
 [-0.004600000000000033, 5.622196917669763],
 [-0.0045000000000000335, 5.943573384631664],
 [-0.004400000000000034, 6.291889269685145],
 [-0.004300000000000035, 6.670147175997756],
 [-0.004200000000000035, 7.081769518970363],
 [-0.004100000000000036, 7.530669289082186],
 [-0.0040000000000000365, 8.021334779063677],
 [-0.003900000000000037, 8.55893139695117],
 [-0.0038000000000000377, 9.149424512310155],
 [-0.0037000000000000383, 9.79972825492141],
 [-0.003600000000000039, 10.517886479411136],
 [-0.0035000000000000395, 11.3132937364621],
 [-0.00340000000000004, 12.196966188932],
 [-0.0033000000000000407, 13.181875072119938],
 [-0.0032000000000000414, 14.283358723695123],
 [-0.003100000000000042, 15.519633546124213],
 [-0.0030000000000000426, 16.912429761530674],
 [-0.002900000000000043, 18.48778469481168],
 [-0.0028000000000000438, 20.277034783968713],
 [-0.0027000000000000444, 22.318057659775473],
 [-0.002600000000000045, 24.656827273834946],
 [-0.0025000000000000456, 27.349357408562987],
 [-0.002400000000000046, 30.464120060237903],
 [-0.002300000000000047, 34.085031144418615],
 [-0.0022000000000000474, 38.31508923128632],
 [-0.002100000000000048, 43.280720032016696],
 [-0.0020000000000000486, 49.136797987361575],
 [-0.0019000000000000492, 56.07215142258963],
 [-0.0018000000000000498, 64.31505933439423],
 [-0.0017000000000000504, 74.13775233833316],
 [-0.001600000000000051, 85.85817398278353],
 [-0.0015000000000000516, 99.83621361603416],
 [-0.0014000000000000522, 116.46036805245784],
 [-0.0013000000000000528, 136.11962352052305],
 [-0.0012000000000000535, 159.15491631306236],
 [-0.001100000000000054, 185.78587188937678],
 [-0.0010000000000000547, 216.01290879186067],
 [-0.0009000000000000553, 249.5031306199426],
 [-0.0008000000000000559, 285.48021172774963],
 [-0.0007000000000000565, 322.65066415282985],
 [-0.0006000000000000571, 359.2055678287211],
 [-0.0005000000000000577, 392.9309873031764],
 [-0.0004000000000000583, 421.437575257084],
 [-0.0003000000000000589, 442.48332035973243],
 [-0.0002000000000000595, 454.3252634722113],
 [-0.00010000000000006011, 456.0137384273256],
 [-6.071532165918825e-17, 447.54985658942894],
 [9.999999999993868e-05, 429.86425342144105],
 [0.00019999999999993807, 404.62826257271104],
 [0.00029999999999993747, 373.9555458614372],
 [0.00039999999999993686, 340.0747912489916],
 [0.0004999999999999363, 305.04733582297996],
 [0.0005999999999999357, 270.57576943814695],
 [0.000699999999999935, 237.91559765599462],
 [0.0007999999999999344, 207.87493106666687],
 [0.0008999999999999338, 180.87316482113602],
 [0.0009999999999999332, 157.02807164676378],
 [0.0010999999999999326, 136.2471004053032],
 [0.001199999999999932, 118.3078415828185],
 [0.0012999999999999314, 102.92096803148767],
 [0.0013999999999999308, 89.77483317353338],
 [0.0014999999999999302, 78.56415620301604],
 [0.0015999999999999296, 69.00645049004282],
 [0.001699999999999929, 60.84983945098448],
 [0.0017999999999999284, 53.875303006575606],
 [0.0018999999999999278, 47.895631237276156],
 [0.001999999999999927, 42.7526536586778],
 [0.0020999999999999266, 38.31374979826421],
 [0.002199999999999926, 34.46824028266822],
 [0.0022999999999999254, 31.123984290273945],
 [0.0023999999999999248, 28.204336348004997],
 [0.002499999999999924, 25.64551262363929],
 [0.0025999999999999236, 23.39436001902461],
 [0.002699999999999923, 21.406493150991565],
 [0.0027999999999999223, 19.644753073021892],
 [0.0028999999999999217, 18.077939754198766],
 [0.002999999999999921, 16.679773358586864],
 [0.0030999999999999205, 15.428044493569784],
 [0.00319999999999992, 14.303919325411961],
 [0.0032999999999999193, 13.291370998887748],
 [0.0033999999999999187, 12.37671378029844],
 [0.003499999999999918, 11.548220641794268],
 [0.0035999999999999175, 10.79580861731827],
 [0.003699999999999917, 10.11077924451517],
 [0.0037999999999999163, 9.485603843936524],
 [0.0038999999999999157, 8.913745362167276],
 [0.003999999999999915, 8.389510098694812],
 [0.0040999999999999145, 7.907923919079797],
 [0.004199999999999914, 7.464628582916747],
 [0.004299999999999913, 7.0557946471258015],
 [0.004399999999999913, 6.678048063598119],
 [0.004499999999999912, 6.32840812550519],
 [0.0045999999999999115, 6.004234851549533],
 [0.004699999999999911, 5.70318423197254],
 [0.00479999999999991, 5.423170056078067],
 [0.00489999999999991, 5.162331255873052],
 [0.004999999999999909, 4.919003891289518],
 [0.005099999999999908, 4.6916970510978215],
 [0.005199999999999908, 4.479072066706612],
 [0.005299999999999907, 4.2799245366752245],
 [0.005399999999999907, 4.093168742411436],
 [0.005499999999999906, 3.917824103593815],
 [0.005599999999999905, 3.7530033780702414],
 [0.005699999999999905, 3.5979023575349833],
 [0.005799999999999904, 3.451790848941561],
 [0.005899999999999904, 3.3140047637930876],
 [0.005999999999999903, 3.183939164320757],
 [0.006099999999999902, 3.061042138050583],
 [0.006199999999999902, 2.944809391131347],
 [0.006299999999999901, 2.8347794666743016],
 [0.0063999999999999006, 2.7305295077460174],
 [0.0064999999999999, 2.6316714959771916],
 [0.006599999999999899, 2.5378489063443714],
 [0.006699999999999899, 2.44873372678363],
 [0.006799999999999898, 2.364023798565748],
 [0.0068999999999998975, 2.2834404382935807],
 [0.006999999999999897, 2.2067263090834994],
 [0.007099999999999896, 2.1336435112041516],
 [0.007199999999999896, 2.06397186714212],
 [0.007299999999999895, 1.9975073789492368],
 [0.0073999999999998945, 1.9340608386014844],
 [0.007499999999999894, 1.8734565739700433],
 [0.007599999999999893, 1.8155313168856884],
 [0.007699999999999893, 1.7601331779447198],
 [0.007799999999999892, 1.707120718794988],
 [0.007899999999999891, 1.656362110370332],
 [0.007999999999999891, 1.607734368536891],
 [0.00809999999999989, 1.5611226591291458],
 [0.00819999999999989, 1.5164196653214257],
 [0.008299999999999889, 1.4735250110720357],
 [0.008399999999999888, 1.4323447350716743],
 [0.008499999999999888, 1.392790810238355],
 [0.008599999999999887, 1.3547807043385052],
 [0.008699999999999887, 1.3182369777877776],
 [0.008799999999999886, 1.2830869151035442],
 [0.008899999999999885, 1.2492621868509741],
 [0.008999999999999885, 1.2166985392522196],
 [0.009099999999999884, 1.1853355089186763],
 [0.009199999999999884, 1.1551161604241809],
 [0.009299999999999883, 1.1259868446663004],
 [0.009399999999999882, 1.0978969761669395],
 [0.009499999999999882, 1.070798827645417],
 [0.009599999999999881, 1.044647340359491],
 [0.00969999999999988, 1.0193999488548584],
 [0.00979999999999988, 0.9950164188934008],
 [0.00989999999999988, 0.9714586974466402]]