In [2]:
import pandas as pd
import numpy as np

In [3]:
# Import csv data for last 30 days of priceCumulative values from csv/data-1624665179.csv
df_raw = pd.read_csv("csv/data-1624665179.csv")
df_raw

,result,table,_start,_stop,_time,_value,_field,_measurement,id,influx-sushi,token0_name,token1_name,type
0,_result,0,2021-05-26 23:52:57.843291+00:00,2021-06-25 23:52:57.843291+00:00,2021-05-27 00:06:58+00:00,1.259956e+43,price1Cumulative,mem,Sushiswap: UNI / WETH,ingest-data-frame,UNI,WETH,metrics-hourly
1,_result,0,2021-05-26 23:52:57.843291+00:00,2021-06-25 23:52:57.843291+00:00,2021-05-27 00:13:42+00:00,1.259976e+43,price1Cumulative,mem,Sushiswap: UNI / WETH,ingest-data-frame,UNI,WETH,metrics-hourly
2,_result,0,2021-05-26 23:52:57.843291+00:00,2021-06-25 23:52:57.843291+00:00,2021-05-27 00:31:02+00:00,1.260029e+43,price1Cumulative,mem,Sushiswap: UNI / WETH,ingest-data-frame,UNI,WETH,metrics-hourly
3,_result,0,2021-05-26 23:52:57.843291+00:00,2021-06-25 23:52:57.843291+00:00,2021-05-27 00:31:40+00:00,1.260031e+43,price1Cumulative,mem,Sushiswap: UNI / WETH,ingest-data-frame,UNI,WETH,metrics-hourly
4,_result,0,2021-05-26 23:52:57.843291+00:00,2021-06-25 23:52:57.843291+00:00,2021-05-27 00:50:25+00:00,1.260089e+43,price1Cumulative,mem,Sushiswap: UNI / WETH,ingest-data-frame,UNI,WETH,metrics-hourly
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81977,_result,29,2021-05-26 23:52:57.843291+00:00,2021-06-25 23:52:57.843291+00:00,2021-06-25 23:03:53+00:00,1.138973e+31,price1Cumulative,mem,Sushiswap: WETH / WBTC,ingest-data-frame,WETH,WBTC,metrics-hourly
81978,_result,29,2021-05-26 23:52:57.843291+00:00,2021-06-25 23:52:57.843291+00:00,2021-06-25 23:07:41+00:00,1.138973e+31,price1Cumulative,mem,Sushiswap: WETH / WBTC,ingest-data-frame,WETH,WBTC,metrics-hourly
81979,_result,29,2021-05-26 23:52:57.843291+00:00,2021-06-25 23:52:57.843291+00:00,2021-06-25 23:25:47+00:00,1.138976e+31,price1Cumulative,mem,Sushiswap: WETH / WBTC,ingest-data-frame,WETH,WBTC,metrics-hourly
81980,_result,29,2021-05-26 23:52:57.843291+00:00,2021-06-25 23:52:57.843291+00:00,2021-06-25 23:29:19+00:00,1.138977e+31,price1Cumulative,mem,Sushiswap: WETH / WBTC,ingest-data-frame,WETH,WBTC,metrics-hourly
81981,_result,29,2021-05-26 23:52:57.843291+00:00,2021-06-25 23:52:57.843291+00:00,2021-06-25 23:44:51+00:00,1.138980e+31,price1Cumulative,mem,Sushiswap: WETH / WBTC,ingest-data-frame,WETH,WBTC,metrics-hourly

In [19]:
# Filter for cols we care about: [id, _time, _field, _value] and sort by time
df = df_raw.filter(items=['id', '_time', '_field', '_value'])
df = df.sort_values(by='_time', ignore_index=True)
df

,id,_time,_field,_value
0,Sushiswap: COMP / WETH,2021-05-26 23:55:41+00:00,price0Cumulative,2.892970e+40
1,Sushiswap: COMP / WETH,2021-05-26 23:55:41+00:00,price1Cumulative,4.967069e+41
2,Sushiswap: MKR / WETH,2021-05-27 00:01:19+00:00,price0Cumulative,1.383139e+41
3,Sushiswap: MKR / WETH,2021-05-27 00:01:19+00:00,price1Cumulative,9.427158e+40
4,Sushiswap: SNX / WETH,2021-05-27 00:01:19+00:00,price0Cumulative,1.178501e+39
...,...,...,...,...
81977,Sushiswap: SUSHI / WETH,2021-06-25 23:49:11+00:00,price0Cumulative,6.736688e+38
81978,Sushiswap: RUNE / WETH,2021-06-25 23:49:11+00:00,price0Cumulative,2.776636e+38
81979,Sushiswap: WETH / DAI,2021-06-25 23:49:11+00:00,price1Cumulative,1.864844e+44
81980,Sushiswap: UNI / WETH,2021-06-25 23:49:12+00:00,price1Cumulative,1.401652e+43
81981,Sushiswap: UNI / WETH,2021-06-25 23:49:12+00:00,price0Cumulative,1.323540e+39

In [23]:
# Examine stats for two pairs: WETH / DAI (less volatile) ...
df_weth_dai = df[(df['id'] == "Sushiswap: WETH / DAI") & (df['_field'] == "price1Cumulative")]
df_weth_dai

,id,_time,_field,_value
13,Sushiswap: WETH / DAI,2021-05-27 00:04:08+00:00,price1Cumulative,1.539463e+44
43,Sushiswap: WETH / DAI,2021-05-27 00:17:51+00:00,price1Cumulative,1.539585e+44
76,Sushiswap: WETH / DAI,2021-05-27 00:30:06+00:00,price1Cumulative,1.539693e+44
107,Sushiswap: WETH / DAI,2021-05-27 00:41:13+00:00,price1Cumulative,1.539790e+44
129,Sushiswap: WETH / DAI,2021-05-27 00:52:12+00:00,price1Cumulative,1.539886e+44
...,...,...,...,...
81881,Sushiswap: WETH / DAI,2021-06-25 23:03:57+00:00,price1Cumulative,1.864589e+44
81896,Sushiswap: WETH / DAI,2021-06-25 23:14:19+00:00,price1Cumulative,1.864647e+44
81924,Sushiswap: WETH / DAI,2021-06-25 23:23:57+00:00,price1Cumulative,1.864701e+44
81954,Sushiswap: WETH / DAI,2021-06-25 23:38:10+00:00,price1Cumulative,1.864782e+44
81979,Sushiswap: WETH / DAI,2021-06-25 23:49:11+00:00,price1Cumulative,1.864844e+44

In [31]:
# ... and ALCX / WETH (more volatile)
df_alcx_weth = df[(df['id'] == "Sushiswap: ALCX / WETH") & (df['_field'] == "price1Cumulative")]
df_alcx_weth

,id,_time,_field,_value
15,Sushiswap: ALCX / WETH,2021-05-27 00:04:58+00:00,price1Cumulative,2.615926e+40
55,Sushiswap: ALCX / WETH,2021-05-27 00:20:01+00:00,price1Cumulative,2.616081e+40
69,Sushiswap: ALCX / WETH,2021-05-27 00:28:45+00:00,price1Cumulative,2.616171e+40
95,Sushiswap: ALCX / WETH,2021-05-27 00:37:25+00:00,price1Cumulative,2.616260e+40
123,Sushiswap: ALCX / WETH,2021-05-27 00:50:24+00:00,price1Cumulative,2.616393e+40
...,...,...,...,...
81873,Sushiswap: ALCX / WETH,2021-06-25 23:02:38+00:00,price1Cumulative,2.954404e+40
81892,Sushiswap: ALCX / WETH,2021-06-25 23:09:36+00:00,price1Cumulative,2.954439e+40
81926,Sushiswap: ALCX / WETH,2021-06-25 23:25:45+00:00,price1Cumulative,2.954520e+40
81943,Sushiswap: ALCX / WETH,2021-06-25 23:34:10+00:00,price1Cumulative,2.954562e+40
81961,Sushiswap: ALCX / WETH,2021-06-25 23:44:50+00:00,price1Cumulative,2.954615e+40